extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	//	!-- Custom styles for this template --


block body
	.site-wrapper
		.site-wrapper-inner
			.cover-container
				.masthead.clearfix
					.inner
						h3.masthead-brand Cover
						nav
							ul.nav.masthead-nav
								li.active
									a(href="#") Home
								li
									a(href="#") Install
								li
									a(href="#") Contact
				.inner.cover
					h1.cover-heading Hosted Payments SDK Simulator
					p.lead This tool will allow you to simulate the redirects and callbacks needed to build an integration using the Hosted Payment SDK.
					p.lead
					a(href="#", class="btn btn-lg btn-default") Learn more
					p= request

				.mastfoot
					.inner
						p Simulator built by <a href="http://getbootstrap.com">Shopify</a>
