extends ../node_modules/jade-bootstrap/_bootstrap
append styles
  //  !-- Custom styles for this template --


block body
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        //
          .masthead.clearfix
            .inner
              img.masthead-brand(id="complete",src="https://www.visii.com/img/shopify-logo.png",alt="Shopify logo" height="25%" width="25%",href="http://shopify.ca")
              nav
                ul.nav.masthead-nav
                  li.active
                    a(href="#") Home
                  li
                    a(href="#") Install
                  li
                    a(href="#") Contact
        .inner.cover
          h1.cover-heading Hosted Payments SDK Simulator
          p.lead This tool will allow you to simulate the redirects and callbacks needed to build an integration using the Hosted Payment SDK.
          p.lead
          a(href="#", class="btn btn-lg btn-default") Complete Payment

      .container
        h2 Response Values
        p Click here to learn more about Hosted Payments SDK response values.
        form(role='form')
          .form-group
            each val, index in request
              label(for='index') #{index}
              input#index.form-control(type='text',placeholder=val)
        .mastfoot
          .inner
            // p Simulator built by <a href="http://getbootstrap.com">Shopify</a>
block scripts
  script(src="fun.js")
